html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#container {
    width: 355px;
    height: 355px;
    position: absolute;
    top: 0;
}
#frame1 {
    width: 355px;
    height: 355px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-size: 100% 100%;
}
#frame2 {
    width: 352px;
    height: 271px;
    position: absolute;
    left: 0;
    top: 32px;
    opacity: 0;
    background-size: 100% 100%;
}

#frame3 {
    width: 117px;
    height: 80px;
    position: absolute;
    left: 77px;
    top: 0;
    opacity: 0;
    background-size: 100% 100%;
}
#frame4 {
    width: 106px;
    height: 74px;
    position: absolute;
    left: 224px;
    top: 0;
    opacity: 0;
    background-size: 100% 100%;
}